
#navbar {
    background-color: #242527;
    display: flex;
    justify-content: center;

}

#navbar a {

    color: aliceblue;
    padding: 10px;
    justify-content: center;
}

input {
    background-color: #242527;
    border: 0;
}
#socials {
    align-items: center;
}
body { 
    background-color: #242527;
    color: aliceblue;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}