#navbar {
    background-color: #242527;
    overflow: hidden;
    display: flex;

}
#logo {
    justify-content: left;
    padding-left: 1rem;
}
#navbar a {
    color: aliceblue;
    padding: 20px;
    text-decoration: none;
}
input {
    background-color: #242527;
    border: 0;
    padding-left: 1.5rem;
}
#socials {
    padding: 20px, 20px;
    display: flex;
    align-items: right;
    margin-left: auto;
}

body { 
    background-image: url(Images/background_texture.png);
    color: aliceblue;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Container for the image and text */
.image-container {
    position: relative;
    width: 100%;
}

/* Style for the image */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Style for the text overlay */
.text-overlay {
    position: absolute;
    top: 10%;
    left: 1%;
    color: aliceblue;
    max-width: 43%;
    font-size: 60px;
    font-weight: bold;
}

.text-overlay p {
    font-weight: lighter;
    font-size: 20px;
}
.text-overlay button {
    background-color: #1579BC;
    padding: 20px 40px;
    border: 0px;
    border-radius: 2.5%;
    margin: 5px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

#black-box {
    background-color: black;
}
#black-box img {
    padding-left: 10px;
    max-width: 24%;
}
#create-character {
    color: #1579BC;
    max-width: 14%;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top: 85%;
    left: 3%;
}